@import url("https://fonts.cdnfonts.com/css/poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.hero-container {
  width: 100%;
  height: 105vh;
  background-image: url(../../assests/images/avvic-hero-3-min.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.hero-content-container {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 19em;
  color: #fff;
  font-size: 14px;
  letter-spacing: 8px;
}
.hero-content-heading {
  font-size: 45px;
  padding-top: 13px;
  padding-bottom: 13px;
  letter-spacing: 18px;
}

.social-mediaIcon-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 41.44em;
  gap: 0.6em;
  width: 100%;
}
.social-column {
  padding: 4px;
  color: rgb(255, 255, 255) !important;
  border-radius: 5px;
  transition: transform 0.2s;
}

.social-column:hover {
  transform: scale(1.2);
}
/* SECTION FOR SEAMLESS BANKING */
.info-container {
  height: 94vh;
  background: linear-gradient(90deg, #fffeff 0%, #d7fffe 100%);
  overflow-x: hidden;
}
.info-heading {
  font-size: 48px;
  font-weight: 700;
  padding-top: 7%;
  line-height: 57.6px;
  color: #353c5b;
}
.info-heading2 {
  color: #626364;
  margin-top: 1%;
}

.info-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
  width: 100%;
}

.column:nth-child(1),
.column:nth-child(2),
.column:nth-child(3) {
  flex: 1;
  /* border: 1px solid black; */
}
.icon {
  width: 62.08px;
  height: 72.5px;
}
.info-content-heading {
  color: #353c5b;
  font-weight: 700;
  text-align: center;
  font-size: 32px;
  margin-top: 6%;
}
.info-content {
  color: #626364;
  padding: 15px;
  font-size: 16px;
  line-height: 24px;
}

.avvic-logo-2-container {
  display: flex;
  justify-content: flex-start;
}
.avvic-logo-2 {
  width: 196px;
  height: 64px;
  margin-left: 20px;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1%;
  width: 100%;
}
.footer-column:nth-child(1){
  flex: 2.5;
}
.footer-column:nth-child(2) {
  flex: 1.5;
}
.footer-column:nth-child(3) {
  flex: 0.5;
}
.footer-heading {
  font-weight: 500;
  color: black;
  text-align: left;
  padding-left: 15px;
}
.footer-links{
  text-align: center !important;
}
.footer-content {
  color: #626364;
  text-align: left;
  padding-left: 14px;
  padding-top: 12px;
  padding-bottom: 16px;
}

.contact-us{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 9px;
  padding: 12px;
  gap: 8px;
}

.divider-container {
  width: 98%;
  margin: 0px auto 0px auto;
  height: 1px;
  background-color: black !important;
  /* position: relative; */
}
.divider-content {
  display: flex;
  justify-content: center;
}
.divider-content-item:nth-child(1) {
  flex: 2.3;
  text-align: left;
  padding-top: 20px;
  padding-left: 15px;
  font-size: 14px;
}
.divider-content-item:nth-child(2),
.divider-content-item:nth-child(3) {
  flex: 0.4;
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
}

@media screen and (max-width: 576px) {
  .hero-content-container {
    margin-top: 23em;
    font-size: 10px;
  }
  .hero-content-heading {
    font-size: 35px;
    padding-top: 9px;
    text-align: center;
    padding-bottom: 11px;
    letter-spacing: 13px;
  }
  .hero-container {
    overflow-x: hidden;
    height: 99vh;
  }
  .social-mediaIcon-container {
    margin-top: 34em;
    gap: 0.3em;
    width: 100%;
  }
  .social-column {
    padding: 3px;
  }

  .avvic-logo-2 {
    width: 186px;
    height: 60px;
    margin-top: 13%;
    margin-left: 1%;
  }
  .info-heading {
    font-size: 35px;
    font-weight: 600;
  }
  .info-heading2 {
    margin-top: 1%;
  }
  .info-container {
    height: 170vh;
    overflow-x: hidden;
  }
  .info-content-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 100%;
  }
  .column:nth-child(2) {
    margin-bottom: 12%;
    margin-top: 12%;
  }
  .icon {
    width: 45.08px;
    height: 52.5px;
  }
  .info-content-heading {
    font-weight: 500;
    font-size: 30px;
    margin-top: 3%;
  }
  .info-content {
    padding: 5px;
    line-height: 28px;
    text-align: justify;
    padding: 18px;
  }

  /* FOOTER CONTENT IS BELOW */

  .footer-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    overflow-x: hidden;
  }
  .footer-heading {
    padding-left: 11px;
    text-align: left !important;
  }
  .footer-content {
    padding: 18px;
  }

  /* .footer-icons {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3px;
    padding: 5px;
    gap: 8px;
  } */
  .footer-links {
    padding-bottom: 2px;
  }
  .divider-content {
    display: block;
  }
  .divider-content-item:nth-child(1) {
    font-size: 11px;
    padding-top: 10px;
    text-align: center;
  }
  .divider-content-item:nth-child(2),
  .divider-content-item:nth-child(3) {
    text-align: center;
    padding-top: 6px;
    font-size: 11px;
  }
}

@media only screen and (min-width: 620px) and (max-width: 768px) {
  .hero-container {
    width: 150%;
    overflow-x: hidden;
  }

  .hero-content-container {
    margin-top: 20em;
    margin-left: 27em;
    font-size: 13px;
    letter-spacing: 6px;
  }
  .social-mediaIcon-container {
    margin-top: 39em;
    margin-left: 12em;
  }

  .info-container {
    width: 150%;
    overflow-x: hidden;
  }
  .footer-container {
    width: 150%;
    overflow-x: hidden;
  }
  .divider-container {
    width: 150%;
  }
}
