.contact-us {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 9px;
  padding: 12px;
  gap: 8px;
}

.contact-form {
  width: 35em;
  height: 48px;
  border-radius: 4px;
  padding: 12px;
}
.contact-btn {
  width: 120px;
  height: 48px;
  margin-left: 5px;
  border-radius: 4px;
  background-color: #ffff;
}
.contact-btn:hover {
  background-color: rgb(24, 96, 24) !important;
  color: #fff;
}
.subscribe-content {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #626364;
  text-decoration: underline;
  padding: 10px;
}

@media screen and (max-width: 576px) {
  .contact-us {
    margin-top: 7px;
    padding: 2px;
    gap: 3px;
  }

  .contact-form {
    width: 190px;
    height: 42px;
    padding: 18px;
    margin-left: 12px !important;
  }
  .contact-btn {
    width: 72px;
    height: 42px;
    padding: 1px;
  }
  .subscribe-content {
    font-size: 11px;
    text-decoration: underline;
    word-break: break-word;
    
  }
}

@media only screen and (max-width: 798px) and (orientation: landscape){
  .contact-form {
    width: 185px !important;
  }
  .contact-btn {
   font-size: 12px;
  }
 
}

@media only screen and (min-width: 610px) and (max-width: 684px) and (orientation: landscape){
  .contact-form {
    width: 160px !important;
  }
  .contact-btn {
    width: 70px !important;
    height: 30px;
  }
}

@media only screen and (min-width: 620px) and (max-width: 768px) {
  .contact-form {
    width: 173px;
    height: 40px;
    border-radius: 4px;
    padding: 12px;
  }
  .contact-btn {
    width: 100px;
    height: 42px;
  }
}


@media only screen and (min-width: 810px) and (max-width: 999px) {
  .contact-form {
    width: 20em;
    height: 40px;
    padding: 5px;
  }
  .contact-btn {
    width: 90px;
    height: 42px;
    margin-left: 4px;
   
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1226px) {
  .contact-form {
    width: 24em;
    height: 44px;
    padding: 8px;
  }
  .contact-btn {
    width: 95px;
    height: 45px;
    margin-left: 4px;
   
  }
}